@mixin parallax($property) {
    min-height: $property;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin paddmarg {
    padding: 0;
    margin: 0;
}

@mixin backgroundborder {
    border-style: double none;
    border-width: 12px;
    border-color: $beigeish; 
    
}

@mixin headerborder {
    border-style: none none double none;
    border-width: 12px;
    border-color: $beigeish; 
    
}

@mixin footerborder {
    border-style: solid none none none;
    border-width: 3px;
    border-color: $beigeish; 
    
}

@mixin container {
    font-size: 2.2em;
    min-height: 90vh;
    width: 100%;
    max-width: 100%;
}

@mixin four-kay-headers { 
    @media screen and (max-width: 2560px) {
        font-size: 3vw;
    }
    @media screen and (max-width: 425px) {
        font-size: 5vw;
    }
}

@mixin four-kay-text { 
    @media screen and (max-width: 2560px) {
        font-size: 2vw;
    }
    @media screen and (max-width: 425px) {
        font-size: 5vw;
    }
}

@mixin form-text {
    @media screen and (max-width: 2560px) {
        font-size: 1.5vw;
    }
    @media screen and (max-width: 425px) {
        font-size: 3vw;
    }
}

@mixin grid-off {
    @media screen and (max-width: 768px) {
        display: inline-block;
        text-align: center;
        padding: 20% 0;
        margin: 0;
        line-height: 3;
    }
}

// @mixin stroke {
//     -webkit-text-stroke: black;
//     stroke: black;
// }