// DOCTYPE partial scss: components
// For the button on the main page that links to the contact page
button {
  background-color: transparent;
  color: $gold;
  padding: 20px;
  border: 1px solid $gold;
  border-radius: 4px;
  cursor: pointer;
  @media screen and (max-width: 768px) {
    margin-top: 3rem;
    background-color: $brown;
    width: 50%;
  }
}
