// DOCTYPE partial scss: pages

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 2rem;
  @media screen and (max-width: 425px) {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  }

  .card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: auto;
    margin: 0;
    margin-bottom: 1rem;
    background: rgba(255, 255, 255, 0.97);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 6px;
    overflow: hidden;
    @media screen and (max-width: 425px) {
      min-height: 60vh;
    }

    .card--avatar {
      width: 100%;
      max-width: 100%;
      min-height: 70vh;
      height: auto;
      object-fit: cover;
      border-bottom: 2px solid black;
      @media screen and (max-width: 425px) {
        min-height: 30vh;
      }
    }

    .card--text {
      height: 80px;

      .card--title,
      .card--price {
        @include four-kay-text;
        text-shadow: none;
        text-align: center;
      }
      @media screen and (max-width: 2560px) {
        padding: 40px 0;
      }
      @media screen and (max-width: 1600px) {
        padding: 8px 0;
      }
    }

    .card--link {
      font-family: "Playball", Arial, Helvetica, sans-serif;
      letter-spacing: 2px;
      align-content: center;
      text-decoration: none;
      background: #8a2216;
      color: #fff;
      text-align: center;
      margin: auto;
      margin-bottom: 0;
      width: 100%;
      padding: 15px 10px;
      @include bestel-link;
    }
  }
}
