// DOCTYPE partial scss

.contact {
  text-align: center;
  padding-top: 3rem;
}

.contact-overloop {
  padding: 20px 35px;
}

.contact-form {
  margin-top: 2rem;

  .form {
    padding: 20px 10px;
    border-radius: 5px;
    text-align: left;
    display: inline-block;
    height: auto;
    width: 65%;
    font-family: "Playball", Arial, Helvetica, sans-serif;
    @include four-kay-text;
    color: $gold;

    .form-input {
      border-radius: 4px;
      background-color: $brown;
      @media screen and (max-width: 2560px) {
        padding: 25px 20px;
      }
      @media screen and (max-width: 1600px) {
        padding: 20px 10px;
      }

      label {
        font-size: 1.3rem;
      }

      input[type="text"],
      input[type="email"],
      textarea {
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin: 12px 0 25px 0;
        font-size: inherit;
        @media screen and (max-width: 768px) {
          padding: 10px 15px;
          margin-top: 8;
        }
      }

      textarea {
        height: 30vh;
        resize: inherit;
        font-size: inherit;
        @media screen and (max-width: 768px) {
          margin-bottom: 0;
        }
      }
    }

    input[type="submit"] {
      font-size: 1.7rem;
      background-color: $brown;
      color: $gold;
      width: 100%;
      padding: 12px;
      border: 1px solid $gold;
      border-radius: 4px;
      cursor: pointer;
      margin-top: 5%;
      margin-bottom: 20%;
      font-family: inherit;
      @media screen and (max-width: 768px) {
        font-size: 1rem;
        overflow: visible;
      }
    }
  }
}
