// DOCTYPE partial scss: pages

.over-ons {
  text-align: center;
  padding: 3rem;

  img {
    width: 35%;
    height: auto;
    position: relative;
    display: block;
    margin: 0 3rem;
  }

  h1 {
    font-size: 4rem;
    font-weight: 300;
    padding-bottom: 1.5rem;
    @media screen and (max-width: 425px) {
      font-size: 3rem;
    }
  }

  .over-ons-2,
  .over-ons-3 {
    padding-bottom: 2.5rem;

    h2 {
      font-weight: 100;
      padding-bottom: 2rem;
    }
  }

  .over-ons-2 {
    h3 {
      text-align: left;
    }

    img {
      float: right;
    }
  }

  .over-ons-3 {
    h3 {
      text-align: right;
    }

    img {
      float: left;
    }
  }
}
